
/* here we are saying that whenver we hower the mouse on the img (html tag) of a card class(parent element) then
these style will be applied on that img (hower the mouse over img here)  */
.card:hover img {
  transform: scale(1.2,1.2);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
  height: 250px;
}

/* this style will be applied to the img tag whose parent element class is card*/
.card img {
  transform: scale(1,1);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.card-img-wrapper{
  overflow: hidden;
  position: relative;
}

.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons{
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}

.border{
  border: 1px solid dodgerblue;
}

.card-body h1{
  font-family: fantasy;
  color: dodgerblue;
}

.font-highlight{
  font-style: italic;
  color: red;
}


