.card-header{
  background-color: dodgerblue;
  writing-mode: horizontal-tb;;
  word-break: break-word;
  max-height: 35%;
}

.photo-control{
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}

.card{
  border: 1px solid dodgerblue;
}


